@font-face {
    font-family: 'londontworegular';
    src: url('LondonTwo-webfont.eot');
    src: url('LondonTwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('LondonTwo-webfont.woff2') format('woff2'),
         url('LondonTwo-webfont.woff') format('woff'),
         url('LondonTwo-webfont.ttf') format('truetype'),
         url('LondonTwo-webfont.svg#londontworegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff2') format('woff2'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('Roboto-Medium-webfont.eot');
    src: url('Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Medium-webfont.woff2') format('woff2'),
         url('Roboto-Medium-webfont.woff') format('woff'),
         url('Roboto-Medium-webfont.ttf') format('truetype'),
         url('Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

body, html {
    position: relative;
    background-color: #F5F5F5;
    font-family: 'robotolight';
    height: 100%;
}

/* Loading Screen */

#loading-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 5001;
}

#loading-area {
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    height: 10%;
    color: white;
    font: 64px "robotolight";
}

/* Playlist Pane */ 

#playlists-pane {
    position: relative;
    display: block;
    width: 320px;
    float: left;
    box-shadow: 2px 0px 3px #A0A0A0;
}

#logo-header {
    display: block;
    width: 100%;
    height: 84px;
    background-color: #A81F31;
    font: 32px "londontworegular";
    color: #FFF;
    text-align: center;
    line-height: 84px;
    vertical-align: middle;
    cursor: pointer;
}

#logo-img {
    display: inline-block;
    vertical-align: middle;
}

#logo-text {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#playlist-header {
    width: 100%;
    height: 48px;
    font: 32px 'robotomedium';
    text-align: center;
    line-height: 48px;
    vertical-align: middle;
    border-bottom: 2px solid #A0A0A0;
    background-color: #FFF;
}

#playlists {
    width: 100%;
    height: 200px;
    overflow-y: auto;
    text-align: center;
    overflow-x: hidden;
}

.playlist {
    display: block;
    width: 100%;
    height: 48px;
    text-align: left;
    padding-left: 16px;
    font-size: 22px;
    border-bottom: 1px solid #D0D0D0;
    background-color: #FFF;
    margin: 0 auto;
    line-height: 48px;
    vertical-align: middle;
    overflow-x: hidden;
    z-index: 1;
}

.playlist:hover {
    cursor: pointer;
    background-color: #F0F0F0;
}

.playlist.over {
    cursor: copy;
    background-color: #ED9121;
}

#new-playlist-button {
    display: block;
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    font: 24px 'robotolight';
    line-height: 60px;
    vertical-align: middle;
    background-color: #A81F31;
    cursor: pointer;
}

#new-sporklist {
    border: 1px solid #D0D0D0;
    font: 28px "robotolight";
    padding: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #D0D0D0;
    position: fixed;
    height: 72px;
    width: 640px;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    visibility: hidden;
}

/* Info Pane */

#info-pane {
    position: absolute;
    display: block;
    left: 321px;
    right: 0;
    text-align: center;
    height: 100%;
}

#search-bar {
    display: inline;
    margin: 0 auto;
    width: 50%;
    border: 1px solid #D0D0D0;
    font: 28px "robotolight";
    padding: 8px;
    border-radius: 5px;
    margin-top: 16px;
    box-shadow: 3px 3px 2px #D0D0D0;
}

#location-bar {
    display: inline;
    margin: 0 auto;
    width: 30%;
    border: 1px solid #D0D0D0;
    font: 28px "robotolight";
    padding: 8px;
    border-radius: 5px;
    margin-top: 16px;
    margin-left: 1%;
    box-shadow: 3px 3px 2px #D0D0D0;
}

#search-button {
    display: inline;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    margin-top: 16px;
    margin-left: 1%;
}

#content-box {
    position: absolute;
    display: block;
    width: 100%;
    top: 84px;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

/* Social Box */

#my-profile-box {
    position: absolute;
    display: table-column;
    width: 75%;
    padding-left: 72px;
    padding-top: 32px;
    padding-bottom: 72px;
}

.header {
    display: table-row;
}

#my-friends {
    height: 88px;
    border-bottom: 1px solid #B5B5B5;
    cursor: pointer;
}

.friend-name {
    position: absolute;
    height: 88px;
    margin-left: 108px;
    margin-top: 32px;
    font-size: 20px;
    vertical-align: middle;
}

#friend-profile-box {
    position: absolute;
    display: table-column;
    width: 75%;
    padding-left: 72px;
    padding-top: 32px;
    padding-bottom: 72px;
}

#friend-sporklist {
    position: absolute;
    height: 64px;
    margin-left: 24px;
    margin-top: 20px;
    font-size: 20px;
    vertical-align: middle;
}

#friends-sporklists {
    height: 64px;
    border-bottom: 1px solid #B5B5B5;
    cursor: pointer;
}

#my-picture {
    display: table-cell;
    background-size: 150px 150px;
    width: 150px;
    height: 150px;
}

#friend-main-picture {
    display: table-cell;
    background-size: 150px 150px;
    width: 150px;
    height: 150px;
}

#friend-picture {
    background-size: 64px 64px;
    position: absolute;
    margin-top: 12px;
    margin-left: 12px;
    width: 64px;
    height: 64px;
}

.profile-info {
    display: table-cell;
    height: 150px;
    padding-left: 24px;
    text-align: left;
    font-size: 44px;
    vertical-align: middle;
}

.section-title {
    border-bottom: 2px solid #000;
    text-align: left;
    margin-top: 56px;
    font-size: 24px;
}

.profile-picture {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
}

/* sporklist */

.spork-header {
    text-align: left;
    margin-left: 72px;
    margin-bottom: 24px;
    margin-top: 24px;
    font-family: robotomedium;
    font-size: 56px;
    font-weight: bolder;
}

#restaurant {
    position: relative;
    height: 88px;
    box-shadow:0 1px 2px #aaa;
    background:white;
    margin:0 1rem 1rem;
    border-radius:3px;
    user-select:none;
    animation:fly-in-from-left .5s 1s ease both;
    transform-origin:top left;
}

.restaurant-name {
    cursor: pointer;
    position: absolute;
    text-align: left;
    font-size: 40px;
    padding-left: 16px;
    margin-top: 15px;
}

/* Restaurant Search */

#restaurant-search-box {
    display: block;
    width: 100%;
    border-bottom: 1px solid #D0D0D0;
}

.restaurant-result {
    display: block;
    width: 42%;
    height: 145px;
    float: left;
    box-shadow: 0 1px 2px #aaa;
    background: white;
    margin: 0 1rem 1rem;
    border-radius: 3px;
    padding: 10px;
    margin-top: 16px;
}

.restaurant-result:hover {
    cursor: move;
}

.restaurant-title {
    display: block;
    height: 32px;
    font: 24px "robotomedium";
    text-align: left;
    padding-left: 8px;
}

.restaurant-text {
    display: block;
    height: 80px;
    font: 13px "robotolight";
    text-align: left;
    padding-left: 24px;
}

#attributions {
    display: block;
    width: 50%;
    height: 128px;
    background-color: transparent;
    float: left;
}

/* Login Pane */

#login-box {
    width: 100%;
    text-align: center;
}

#login-button {
    padding: 16px;
    color: white;
    background-color: #3B5998;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    width: 280px;
    margin: 128px auto;
}

.trash {
    position: fixed;
    width: 100px;
    height: 100px;
    background-image: url("../images/trash.png");
    background-size: 100% 100%;
    z-index: 10000;
    background-repeat: no-repeat;
    bottom: 1%;
    right: 1%;
    visibility: hidden;
}

.playlist-wrapper {
    position: relative;
}

.delete {
    position: absolute;
    margin-top: 10px;
    right: 8px;
    width: 26px;
    height: 26px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/trash.png");
    cursor: pointer;
    visibility: none;
}

.delete-alt {
    position: absolute;
    margin-top: 29px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/trash.png");
    cursor: pointer;
}
