@font-face {
    font-family: 'londontworegular';
    src: url('LondonTwo-webfont.eot');
    src: url('LondonTwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('LondonTwo-webfont.woff2') format('woff2'),
         url('LondonTwo-webfont.woff') format('woff'),
         url('LondonTwo-webfont.ttf') format('truetype'),
         url('LondonTwo-webfont.svg#londontworegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff2') format('woff2'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('Roboto-Medium-webfont.eot');
    src: url('Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Medium-webfont.woff2') format('woff2'),
         url('Roboto-Medium-webfont.woff') format('woff'),
         url('Roboto-Medium-webfont.ttf') format('truetype'),
         url('Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #F5F5F5;
    font-family: 'robotolight';
    height: 100%;
}

/* Playlist Pane */ 

#playlists-pane {
    position: relative;
    display: block;
    width: 320px;
    float: left;
    box-shadow: 2px 0px 3px #A0A0A0;
}

#logo-header {
    display: block;
    width: 100%;
    height: 84px;
    background-color: #A81F31;
    font: 32px "londontworegular";
    color: #FFF;
    text-align: center;
    line-height: 84px;
    vertical-align: middle;
}

#logo-img {
    display: inline-block;
    vertical-align: middle;
}

#logo-text {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#playlist-header {
    width: 100%;
    height: 48px;
    font: 32px 'robotomedium';
    text-align: center;
    line-height: 48px;
    vertical-align: middle;
    border-bottom: 2px solid #A0A0A0;
    background-color: #FFF;
}

#playlists {
    width: 100%;
    height: 200px;
    overflow-y: auto;
    text-align: center;
    overflow-x: hidden;
}

.playlist {
    display: block;
    width: 100%;
    height: 48px;
    text-align: left;
    padding-left: 16px;
    font-size: 22px;
    border-bottom: 1px solid #D0D0D0;
    background-color: #FFF;
    margin: 0 auto;
    line-height: 48px;
    vertical-align: middle;
}

.playlist:hover {
    cursor: pointer;
    background-color: #F0F0F0;
}

#new-playlist-button {
    display: block;
    width: 100%;
    height: 60px;
    text-align: center;
    color: #FFE7D6;
    font: 24px 'robotolight';
    line-height: 60px;
    vertical-align: middle;
    background-color: #A81F31;
}

#new-playlist-button:hover {
    cursor: pointer;
}

/* Info Pane */

#info-pane {
    position: absolute;
    display: block;
    left: 321px;
    right: 0;
    text-align: center;
    height: 100%;
}

#search-bar {
    display: inline;
    margin: 0 auto;
    width: 50%;
    border: 1px solid #D0D0D0;
    font: 28px "robotolight";
    padding: 8px;
    border-radius: 5px;
    margin-top: 16px;
    box-shadow: 3px 3px 2px #D0D0D0;
}

#location-bar {
    display: inline;
    margin: 0 auto;
    width: 30%;
    border: 1px solid #D0D0D0;
    font: 28px "robotolight";
    padding: 8px;
    border-radius: 5px;
    margin-top: 16px;
    margin-left: 1%;
    box-shadow: 3px 3px 2px #D0D0D0;
}

#search-button {
    display: inline;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    margin-top: 16px;
    margin-left: 1%;
}

#content-box {
    position: absolute;
    display: block;
    width: 100%;
    top: 84px;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

/* Social Box */

#my-profile-box {
    position: absolute;
    display: table-column;
    width: 75%;
    padding-left: 72px;
    padding-top: 32px;
    padding-bottom: 72px;
}

#my-profile-header {
    display: table-row;
}

#my-friends {
    height: 88px;
    border-bottom: 1px solid #B5B5B5;
    cursor: pointer;
}

.friend-name {
    position: absolute;
    height: 88px;
    margin-left: 108px;
    margin-top: 32px;
    font-size: 20px;
    vertical-align: middle;
}

#friend-profile-box {
    position: relative;
    width: 100%;
}

#friend-sporklists {
    width: 100%;
    float: left;
}

#my-picture {
    display: table-cell;
    width: 150px;
    height: 150px;
}

#friend-picture {
    position: absolute;
    margin-top: 12px;
    margin-left: 12px;
    width: 64px;
    height: 64px;
}

.profile-info {
    display: table-cell;
    height: 150px;
    padding-left: 24px;
    text-align: left;
    font-size: 44px;
    vertical-align: middle;
}

.section-title {
    border-bottom: 2px solid #000;
    text-align: left;
    margin-top: 56px;
    font-size: 24px;
}

.profile-picture {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
}

/* sporklist */

#sporklist {

}

.spork-header {
    text-align: left;
    margin-left: 72px;
    margin-bottom: 24px;
    font-family: roboto-medium;
    font-size: 56px;
    font-weight: bolder;
}

#restaurant {
    height: 88px;
    box-shadow:0 1px 2px #aaa;
    background:white;
    margin:0 1rem 1rem;
    border-radius:3px;
    user-select:none;
    animation:fly-in-from-left .5s 1s ease both;
    transform-origin:top left;
}

.restaurant-name {
    position: absolute;
    font-size: 48px;
    padding-left: 16px;
    margin-top: 10px;
}

/* Restaurant Search */

#restaurant-search-box {
    display: block;
    width: 100%;
    border-bottom: 1px solid #D0D0D0;
}

.restaurant-result {
    display: block;
    width: 100%;
}

.restaurant-info {
    display: block;
    width: 100%;
    height: 128px;
    border-top: 1px solid #D0D0D0;
}

.restaurant-picture {
    display: block;
    width: 112px;
    height: 112px;
    float: left;
    margin: 8px;
}

.restaurant-title {
    display: block;
    height: 32px;
    font: 24px "robotomedium";
    text-align: left;
}

.restaurant-text {
    display: block;
    height: 80px;
    font: 14px "robotolight";
    text-align: left;
    padding-left: 16px;
}

.restaurant-more {
    width: 100%;
    height: 300px;
}

/* Login Pane */

#login-box {
    width: 100%;
    text-align: center;
}

#login-button {
    padding: 16px;
    color: white;
    background-color: #3B5998;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    width: 240px;
    margin: 128px auto;
}
